button{
    width: 180px;
}

#button-div{
    display: none;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    bottom: 10px;
    width: 100%;
    z-index: 1; /* this is how forward or backward an element is on a screen */
}

.swal-icon img{
    width: 80px;
    height: 80px;
}